.SignIn{
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  height: 75vh;
  padding: 20px;
  width: 320px;
}
.txtInput{
    font-size: 15px;
    border-width: 0rem;
    border-bottom-width: 0.1rem;
    border-bottom-color: black;
    text-align: center;
    line-height: 2rem;
    width: 100%;
    
    
    
}